
body{
    height: 100vh;
    width: auto;
    display: flex;
   justify-content: center;
    background-color: brown;
    align-items: center;
}

h1{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: white;
    font-weight: 600;
}

.grid-container{
    display: inline-grid;
    justify-self: center;
    align-self: center;
    width: 480px;
    height: 480px;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    margin: 0 auto;
    border: 10px solid black;
    background-color: white;
}


.grid-child{
    border: 1px solid rgb(46, 43, 43);
    transition: .3s; 
}

.grid-child:hover{
    border: 1px solid black;
    transition: .15s; 
    transform: scale(1.25);
}

.control{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 1em
}

button{
    padding: .5em 1em;
    box-sizing: border-box;
    color:black;
    font-weight: 600;
    box-shadow: none;
}

button, button:focus{
    outline: none;
    background: white;
    border: 1px solid transparent;
    cursor: pointer;
  }
  
  button:active{
    outline: none;
    background: transparent;
    border: 1px solid grey;
  }

  button:hover{
    transform: scale(1.25);
    transition: all 0.2s;
    background-color: coral;
    box-shadow: 0 0 10px 1px black;
  }
